[Desktop Entry]
Version=2026.1
Name=Keysight ADS
Type=Application
Exec=/home/<ENTER USERNAME HERE>/Applications/KeysightADS/start_ads.sh
Path=/home/<ENTER USERNAME HERE>/Applications/KeysightADS
Icon=/usr/local/ADS2026_Update1/doc/images/keysightlogo.png
Terminal=false
Categories=Development
